<ng-container>
  <mat-toolbar color="primary">
    <span (click)="go([App.ROUTES.HOME])" class="cursor-pointer">Movie search</span>
    <span class="header-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="[App.ROUTES.ACCESS_TOKEN]">
        <mat-icon>key</mat-icon>
        <span>{{'LABEL.TOKEN' | translate}}</span>
      </a>
    </mat-menu>
  </mat-toolbar>

  <div class="container-body">
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

