@import "../../../../scss/variables";


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.container-body {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  justify-content: center;

  .body {
    width: 100%;
    max-width: $max-with;
    padding: 16px;
  }
}






