<div class="p-2">
  <div class="filter-container">
    <form #formFilter="ngForm" (ngSubmit)="submitForm()">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFill fxFlex="60">
          <input matInput class="form-control"
                 type="text"
                 name="movie-filter-query"
                 required
                 [(ngModel)]="movieFilter.query"
                 #query="ngModel"
                 placeholder="{{'LABEL.SEARCH' | translate}}"/>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFill fxFlex="20">
          <input matInput class="form-control"
                 type="number"
                 name="movie-filter-year"
                 [(ngModel)]="movieFilter.year"
                 #year="ngModel"
                 placeholder="{{'LABEL.YEAR' | translate}}"/>
        </mat-form-field>


        <button mat-raised-button [disabled]="!formFilter.valid" type="submit"
                color="primary">{{'LABEL.SEARCH' | translate}}</button>
      </div>
    </form>
  </div>

  <div class="list-movie text-white">
    <ng-container *ngFor="let movie of movies; trackBy: trackByFn">
      <a [routerLink]="['pelicula', movie.id]">
        <mat-card class="movie-card">
          <app-poster
            [poster_path]="movie?.poster_path"
            [alt]="movie?.title"/>
          <mat-card-content>
            <div class="movie-title text-white">{{movie.title}}</div>
            <div class="movie-year text-white-7" fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{movie.release_date | date : 'yyyy'}}</div>
              <div class="movie-vote-average">
                <app-vote-average [value]="movie.vote_average"/>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </a>
    </ng-container>
  </div>

  <div *ngIf="movies.length" fxLayout="row" fxLayoutAlign="center center" class="p-2">
    <mat-paginator [length]="length"
                   [pageSize]="20"
                   [pageIndex]="movieFilter.page-1"
                   (page)="changePage($event)"
                   hidePageSize="true"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
