@import "./src/scss/variables";

.backdrop-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - $height-toolbar);
  width: 100%;
  position: absolute;
  opacity: .07;
  z-index: 1;
}

.container-page {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  .container-detail-movie {
    max-width: 1000px;
    width: -webkit-fill-available;
    padding: 0 16px;

    .title {
      padding: 64px 0 30px;
    }

    .container-detail {
      color: $color-white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      gap: 30px;

      h3 {
        margin-top: 16px;
        margin-bottom: 0;
      }

      .movie-card {
        max-width: 220px;
        height: 330px;
      }

      .detail {
        max-width: 60%;

        .facts {
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          gap: 8px;
          flex-wrap: wrap;
        }
      }
    }
  }

}

