.bg-img {
  border-bottom: 1px solid var(--primaryColor);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10% 0;
  background-image: linear-gradient(to right, rgba(241.5, 220.5, 220.5, 1) calc((50vw - 170px) - 340px), rgba(241.5, 220.5, 220.5, 0.84) 50%, rgb(242 221 221 / 70%) 100%);

  h3 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .movie-card {
    max-width: 300px;

    img {
      width: 300px;
      height: 450px;
    }
  }

  .detail {
    margin-left: 40px;
    max-width: 60%;

    .title {
      font-size: 30px;
      line-height: normal;
    }

    .other-info {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
  }
}
