<div class="filter-container">
  <form #formAccessToken="ngForm" (ngSubmit)="submitForm()">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <input matInput class="form-control"
               type="text"
               name="token"
               required
               [(ngModel)]="token"
               #query="ngModel"
               placeholder="{{'LABEL.ACCESS_TOKEN' | translate}}"/>
        <!--          <mat-error *ngIf="query?.errors['required']">{{'LABEL.FIELD_REQUIRED' | translate}}</mat-error>-->
      </mat-form-field>

      <button mat-raised-button [disabled]="!formAccessToken.valid" type="submit"
              color="primary">{{'LABEL.SAVE' | translate}}</button>
    </div>
  </form>
</div>
