//<editor-fold desc="Color theme">
$color-background: #EEF1F4;
$color-green: #64cd63;
$color-red: #ef979c;
$primary: #0087FF;
$COLOR_PRIMARY: #0087FF;
$COLOR_DEFAULT: #EFF1F5;
$color-active: #bbe8e8;
$color-gray: #E1E5E9;
$color-gray1: #E5E8EC;
$color-gray2: #686A6C;
$color-gray3: #646A71;
$color-gray4: #92979F;
$color-hover: #F2F2F2;
$color-hover2: rgba(0, 0, 0, 0.05);
$color-hover3: #DBEAFE;
$color-black: #1c1e22;
$color-black-primary: #050505;
$color-disabled: #BDC3C9;
$color-correct: #45BD62;
$color-incorrect: #F02849;
$color-number-task: #050505;
$color-number-task-board: #050505;
//</editor-fold>

$min-width-digit: 7.48px;

//<editor-fold desc="Images">
$crossingImages: 'cross-up-l', 'cross-up-r', 'cross-down-l', 'cross-down-r';
$digitSpace: ('normal', 33px, 7.5px), ('space-1', 31px, 7.5px), ('space-2', 29px, 0), ('space-3', 27px, 7.5px), ('space-4', 25px, 7.5px), ('space-5', 23px, 7.5px), ('space-5-1', 23px, 12px);
$fontsTraining: ('font-segoe-ui', Segoe UI), ('font-tahoma', Tahoma);
//</editor-fold>

$border-radio-input: 12px;
$border-radio-mat-raised-button: 40px;

$max-with: 1920px; // FULL HD
