@mixin style_scrollbar {
  &::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
  }

  &::-webkit-scrollbar-thumb {
    background: #CED0D4;
    border-radius: 5px;

    &:hover, &:active {
      background: #b3b3b3;
    }
  }

  &::-webkit-scrollbar-track {
    background: #E5E8EB;
    border-radius: 5px;
  }
}

@mixin show_hover_scrollbar {
  overflow: hidden !important;

  &:hover {
    overflow: overlay !important;
  }

  @-moz-document url-prefix() {
    &:hover {
      overflow: auto !important;
    }
  }
}
